# Core functionality - changes here should be rare!
/src/app.py                   @Sankarram-G
/src/backend/database.py      @Sankarram-G
/src/backend/routers/auth.py  @Sankarram-G

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Sankarram-G
